@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
   font-family: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,Apple Color Emoji,"Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji","Gordita";

}

.bg-image {
  background: url("https://img.freepik.com/premium-photo/modern-banner-showcasing-minimalist-illustration-suitcase-airplane-iconic-travel-landmarks_1018465-4508.jpg?w=1480");
  background-size: cover;
  background-position: center;
  opacity: 0.6; /* 60% visible */
}